body{
    background: rgb(19, 19, 54);
}
ul{
    background: rgb(63, 20, 20);
    width: 250px;
    margin: 10px;
}
.header{
    margin-left: 20px;
    color: rgb(228, 232, 236);
}
.list-model{
    display: flex;
}